<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	<defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
	 <staticContent>
    <remove fileExtension=".woff" /> 
	  <remove fileExtension=".woff2" /> <!-- In case IIS already has this mime type -->
     <remove fileExtension=".json" /> <!-- In case IIS already has this mime type -->
    <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
	  <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>     
	
        <httpRedirect enabled="false" destination="" exactDestination="false" childOnly="false" />
        <httpProtocol>
          <customHeaders>
              <add name="Strict-Transport-Security" value="max-age=31536000" />
          </customHeaders>
      </httpProtocol>
	</system.webServer>
</configuration>